.divbody {
    margin-left: 15%;
    margin-right: 15%;
}

.img-perfil {
    display: block;
    /* Asegura que la imagen sea un elemento de bloque */
    margin: auto;
    /* Centra la imagen horizontalmente */
    max-width: 100%;
    /* Garantiza que la imagen no se extienda más allá de su tamaño original */
    height: auto;
    /* Mantiene la proporción de aspecto de la imagen */
}

.imagen-centrada {
    display: block;
    /* Asegura que la imagen sea un elemento de bloque */
    margin: auto;
    /* Centra la imagen horizontalmente */
    max-width: 100%;
    /* Garantiza que la imagen no se extienda más allá de su tamaño original */
    height: auto;
    /* Mantiene la proporción de aspecto de la imagen */
}

/* Estilo para el contenedor principal */
.contenedor {
    width: 100%;
    /* Ancho del 100% para ocupar toda la página */
    max-width: 1200px;
    /* Establece un ancho máximo para el diseño, ajusta según sea necesario */
    margin: auto;
    /* Centra el contenedor en la página */
    overflow: hidden;
    /* Evita que los márgenes se colapsen */
}

/* Estilo para la columna izquierda */
.columna-izquierda {
    width: 25%;
    /* Ancho fijo del 30% */
    float: left;
    /* Hace que la columna izquierda se coloque a la izquierda */
    box-sizing: border-box;
    /* Incluye el padding y el borde en el ancho total */
}

/* Estilo para la columna derecha */
.columna-derecha {
    width: 73%;
    /* El 2% se utiliza para el margen derecho entre las columnas */
    float: left;
    /* Hace que la columna derecha se coloque a la derecha de la izquierda */
    box-sizing: border-box;
    /* Incluye el padding y el borde en el ancho total */
}

/* Limpieza de flotantes */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.texto-central {
    font-size: 18px;
    color: #333;
    margin: auto;
    /* Centra el contenedor en la página horizontalmente */
    text-align: center;
    /* Centra el texto dentro del contenedor */
}