{% extends 'base.html' %}

{% block content %}
<html lang="es">
<head>
    <link href="static/estilos/estilos.css" rel="stylesheet">
    <h1>Listado de foros</h1>
</head>
<form class="form-inline">
    <div class="input-group mb-2 mr-sm-2">
      <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
      <input type="text" class="form-control mb-2" id="nombre" name="nombre" placeholder="Nombre" {% if nombre != "": %}value="{{nombre}}"{% endif %}>
    </div>
    <button type="submit" class="btn btn-primary">
        <i class="fa fa-search"></i>
        Search
    </button>
</form>
<body style="margin-left: 15%; margin-right: 15%;">
    <main>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" style="width: 3%;">#</th>
                    <th scope="col" style="width: 97%;">nombre</th>
                </tr>
            </thead>
            <tbody>
                {% for tema in temasF %}
                <tr>
                    <th scope="row"></th>
                    <td><a style="color:black;text-decoration:none;" href="/foro?id={{tema.id}}">{{tema.nombre}}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="anadir_foro" class="btn btn-primary">Añadir</a>
            <a href="/" class="btn btn-primary">Salir</a>
        </div>
    </main>
</body>
</html>
{% endblock %}
