{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h2>Menú de Administrador</h2>
    <ul class="list-group">
      <li class="list-group-item"><a href="/admin/add_user">Añadir Usuario</a></li>
      <li class="list-group-item"><a href="/admin/delete_user_confirm">Borrar Usuario</a></li>
      <li class="list-group-item"><a href="/admin/list_users">Listar Usuarios</a></li>
      <li class="list-group-item"><a href="/admin/add_book">Introducir Libro</a></li>
      <li class="list-group-item"><a href="/admin/add_author">Añadir Autor</a></li>
      <li class="list-group-item"><a href="/catalogue">Listar Catálogo</a></li>
    </ul>
  </div>
{% endblock %}



<!--
  TODO LIST
  [x] Crear usuario
  [x] Listar usuarios
  [x] Borrar usuario desde lista
  [x] Borrar usuario desde pagina

  [x] Crear libro (datos incompletos)
  [x] Listar catalogo
  [] Añadir y restar copias desde catalogo
  [] Eliminar libro (!= 0 copias)


-->