{% extends 'base.html' %}

{% block content %}
<link href="static/estilos/stilos.css" rel="stylesheet">

<div class="divbody">
    <div class="contenedor clearfix">
        <!--PARTE DEL PERFIL DEL USUARIO-->
        <div class="columna-izquierda">
            <!--IMAGEN DEL USUARIO-->
            <div class="img-perfil">
                <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor" class="bi bi-person-fill imagen-centrada" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                </svg>
                <div class="texto-central"> 
                    {% if User.admin %}
                        <p style="color:blue; font-family: Arial, Helvetica, sans-serif; font-weight:bold;">Administrador</p>
                    {% else %}
                        <p style="color:blue; font-family: Arial, Helvetica, sans-serif; font-weight:bold;">Usuario</p>
                    {% endif %}
                </div>
            </div>
            <!--INFORMACIÓN DEL USUARIO-->
            <div>
                <h5>{{User.name}} {{User.apellidos}}</h5>
                <h6 style="color: grey;">{{User.email}}</h6>       
            </div>
            
            <p>Contenido de la columna izquierda.</p>
        </div>

        <!--CONTENIDO QUE SE QUIERA PONER DEL USUARIO-->
        <div class="columna-derecha">
            <!-- RECOMENDACIONES DE AMIGOS -->
            <nav class="navbar bg-body-tertiary">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#recomAmigos">Recomendaciones de Amigos</a>
                </div>
            </nav>
            <div>

            </div>
            <p>Contenido de la columna derecha.</p>
        </div>
    </div>
</div>

{% endblock %}