{% extends 'base.html' %}

{% block content %}
<style>
    .divbody {
        margin-left: 15%;
        margin-right: 15%;
    }

    .img-perfil {
        display: block;    /* Asegura que la imagen sea un elemento de bloque */
        margin: auto;      /* Centra la imagen horizontalmente */
        max-width: 100%;   /* Garantiza que la imagen no se extienda más allá de su tamaño original */
        height: auto;      /* Mantiene la proporción de aspecto de la imagen */
    }

    .imagen-centrada {
        display: block;    /* Asegura que la imagen sea un elemento de bloque */
        margin: auto;      /* Centra la imagen horizontalmente */
        max-width: 100%;   /* Garantiza que la imagen no se extienda más allá de su tamaño original */
        height: auto;      /* Mantiene la proporción de aspecto de la imagen */
    }

    /* Estilo para el contenedor principal */
    .contenedor {
        width: 100%;       /* Ancho del 100% para ocupar toda la página */
        max-width: 1200px; /* Establece un ancho máximo para el diseño, ajusta según sea necesario */
        margin: auto;      /* Centra el contenedor en la página */
        overflow: hidden;  /* Evita que los márgenes se colapsen */
        height: 100%;
    }

    /* Estilo para la columna izquierda */
    .columna-izquierda {
        width: 25%;        /* Ancho fijo del 30% */
        float: left;       /* Hace que la columna izquierda se coloque a la izquierda */
        box-sizing: border-box;      /* Incluye el padding y el borde en el ancho total */
        height: 100%;
    }

    /* Estilo para la columna derecha */
    .columna-derecha {
        width: 73%;        /* El 2% se utiliza para el margen derecho entre las columnas */
        float: left;       /* Hace que la columna derecha se coloque a la derecha de la izquierda */
        box-sizing: border-box;    /* Incluye el padding y el borde en el ancho total */
        height: 100%;
    }

    /* Limpieza de flotantes */
    .clearfix::after {
        content: "";
        display: table;
        clear: both;
    }

    .texto-central {
        font-size: 18px;
        color: #333;
        margin: auto;      /* Centra el contenedor en la página horizontalmente */
        text-align: center;      /* Centra el texto dentro del contenedor */
    }
    .recom_amigos{
        color: black;
        text-decoration: none;
    }
</style>

<div class="divbody">
    <div class="contenedor clearfix">
        <!--PARTE DEL PERFIL DEL USUARIO-->
        <div class="columna-izquierda">
            <!--IMAGEN DEL USUARIO-->
            <div class="img-perfil">
                <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor"
                    class="bi bi-person-fill imagen-centrada" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                </svg>
                <div class="texto-central">
                    {% if User.admin %}
                    <p style="color:blue; font-family: Arial, Helvetica, sans-serif; font-weight:bold;">Administrador</p>
                    {% else %}
                    <p style="color:blue; font-family: Arial, Helvetica, sans-serif; font-weight:bold;">Usuario</p>
                    {% endif %}

                    {% if not amigosRecom: %}
                        {% if not soyYo: %}
                            {%if not esAmigo:%}
                                <button type="button" class="btn btn-primary"><a href="/anadirpeticion?amigoid={{User.id}}&id={{UserLogin.id}}&location=/perfil" style="color: white; text-decoration: none;">Añadir amig@</a></button>
                            {%else%}
                                <button type="button" class="btn btn-secondary"><a href="/eliminaramigo?amigoid={{User.id}}&id={{UserLogin.id}}&location=/perfil" style="color: white; text-decoration: none;">Dejar amig@</a></button>
                            {%endif%}
                            <br><br>
                        {%endif%}
                    {%endif%}
                </div>
            </div>
            <!--INFORMACIÓN DEL USUARIO-->
            <div>
                <h5>{{User.name}} {{User.apellidos}}</h5>
                <h6 style="color: grey;">{{User.email}}</h6>
            </div>

            <p>Contenido de la columna izquierda.</p>
        </div>

        <!--CONTENIDO QUE SE QUIERA PONER DEL USUARIO-->
        <div class="columna-derecha">

            {% if amigos: %}
            <!-- MI LISTA DE AMIGOS AMIGOS -->
            <nav class="navbar bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#amigos">Mis amigos</a>
                </div>
            </nav>
            <div>
                <!--TABLA DE MIS AMIGOS-->
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 3%;">#</th>
                            <th scope="col" style="width: 97%;">Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for amigo in amigos%}
                        <tr>
                            <th scope="row"></th>
                            {% if UserLogin.id!=amigo.id: %}
                            <td><a class="recom_amigos" href="/perfil?id={{amigo.id}}">{{amigo.name}} {{amigo.apellidos}}</a></td>
                            {%else%}
                            <td><a class="recom_amigos" href="/perfil">{{amigo.name}} {{amigo.apellidos}}</a></td>
                            {%endif%}
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>               
            {%endif%}

            {% if amigosRecom: %}
            <!-- RECOMENDACIONES DE AMIGOS -->
            <nav class="navbar bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#recomAmigos">Recomendaciones de Amigos</a>
                </div>
            </nav>
            <div>
                <!--TABLA DE LOS AMIGOS RECOMENDADOS-->
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 3%;">#</th>
                            <th scope="col" style="width: 77%;">Nombre</th>
                            <th scope="col" style="width: 20%;">Button</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for amigo in amigosRecom%}
                        <tr>
                            <th scope="row"></th>
                            <td><a class="recom_amigos" href="/perfil?id={{amigo.id}}">{{amigo.name}} {{amigo.apellidos}}</a></td>
                            <td><button type="button" class="btn btn-primary btn-sm recom_soli"><a href="/anadirpeticion?amigoid={{amigo.id}}&id={{User.id}}&location=/perfil" style="color: white; text-decoration: none;">Enviar Petición</a></button></td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
            {%endif%}

            {% if peticiones: %}
            <!-- RECOMENDACIONES DE AMIGOS -->
            <nav class="navbar bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#recomAmigos">Peticiones de Amistad</a>
                </div>
            </nav>
            <div>
                <!--TABLA DE LOS AMIGOS RECOMENDADOS-->
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 3%;">#</th>
                            <th scope="col" style="width: 57%;">Nombre</th>
                            <th scope="col" style="width: 40%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for amigo in peticiones%}
                        <tr>
                            <th scope="row"></th>
                            <td><a class="recom_amigos" href="/perfil?id={{amigo.id}}">{{amigo.name}} {{amigo.apellidos}}</a></td>
                            <td><button type="button" class="btn btn-primary btn-sm recom_soli"><a href="/anadiramigo?amigoid={{amigo.id}}&id={{User.id}}&location=/perfil" style="color: white; text-decoration: none;">Aceptar Solicitud</a></button>
                            <button type="button" class="btn btn-primary btn-sm recom_soli"><a href="/eliminarsolicitud?amigoid={{amigo.id}}&id={{User.id}}&location=/perfil" style="color: white; text-decoration: none;">Denegar Solicitud</a></button></td>
                        </tr>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
            {%endif%}

            <p>Contenido de la columna derecha.</p>
        </div>
        
    </div>
</div>
</div>

{% endblock %}