{% extends 'base.html' %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="container p-5 my-5 border">

    <h2>{{ book_info.title }}</h2>
    <p>Autor: {{ book_info.author }}</p>
    <img src="{{ book_info.cover }}" alt="Portada del libro">

    <p>Descripción: {{ book_info.description }}</p>

    {% if not existe_resena %}
        <a href="{{ url_for('escribir_resena', book_id=book_info.id) }}" class="btn btn-primary">Escribir Reseña</a>
    {% endif %}
    <a href="{{ url_for('catalogue') }}" class="btn btn-secondary">Volver al Catálogo</a>

    <h3>Reseñas:</h3>
    {% if resenas %}
        <ul>
            {% for resena in resenas %}
                <li>
                    <p>Usuario: {{ resena.idUsuario }}</p>
                    <p>Puntuación: {{ resena.puntuacion }}</p>
                    <p>Comentario: {{ resena.comentario }}</p>
                    {% if existe_resena %}
                        <a href="{{ url_for('escribir_resena', book_id=book_info.id) }}" class="btn btn-primary">Editar Reseña</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay reseñas para este libro.</p>
    {% endif %}

</div>
{% endblock %}
